<template name="stager">
  <div id="wrapper">
    <section id="intro" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        <h1 class="align-center">Ready?</h1>
        <p>
          Tell ppl to go here: <a href="{{getURL}}">{{getURL}}</a>
        </p>
        <p class="align-center">
          <button class="btn btn-danger boom">BOOM</button>
        </p>
        <p class="align-center">
          <button id="reset" class="btn btn-default close">close</button>
        </p>
      </div>
    </section>
  </div>
</template>
